.attendance-wrapper{
    width:80%;
    min-width:800px;
    margin:0 auto;
    border-radius:3px;
}

table, td, th {
    padding:0;
    margin:0;
}

table {
    border-collapse: separate; 
    width: 100%;
    border-spacing:0; 
    border-collapse: collapse; 
}

table th {
    height: 30px;
    text-align:left;
    text-transform:uppercase;
    padding:10px 0 10px 20%;
}

table td{
    padding:10px 0 10px 20%; 
}

.rowItem{
    width:100%;
    background:#fff;
    border-bottom:10px solid #f1f5f8;
}

.attendance-wrapper h2 {
    font-weight:bold;
    color:#fff;
    display:inline-block;
}

.attendance-wrapper .titleContainer{
    background:#3b95f5;
    padding:10px 0 10px 10%;
    margin:0;
    border-top-right-radius:6px;
    border-top-left-radius:6px;
    height: 90px; 
}

#attendanceReportDate {
    margin-top: 20px;
}

.main_table{
    width:100%;
    padding:25px;
    background:#f1f5f8;
}

.row_seperator{
    width:100%;
    height:10px;
}

.propic{
    width:32px;
    height:32px;
    margin-right:20px;
}

img.icon{
    width:24px;
    cursor:pointer;
}

.table_head{
    color:#bcbfc0;
    background:none;
    height:20px;
}

.active{
    color:green;
    text-transform:uppercase;
    font-weight:bold;
}

.inactive{
    color:red;
    text-transform:uppercase;
    font-weight:bold;
}

.inputtext{
    width:240px;
    height:20px;
    display:inline-block;
    vertical-align:middle;
    background:#fff;
    border:none;
    border-radius:6px;
    font-size:16px;
    padding:10px;
    float:right;
    margin-top:20px;
}

.panel.attendance {
    width: 80%;
    margin-left: 10%;
    margin-top: 3%;
}

.attendance .img-circle {
    float: left;
}

.attendance .name, .attendance .info {
    float: left;
    margin-left: 5%;
}

.attendance-wrapper button {
  margin-top: 20px;
  background-color: white;
  color: #3b95f5;
}
